$transition: .25s ease-out

.bot-nav-container
  position: fixed
  bottom: 0px
  background-color: #fff
  transition: $transition
  transform: translateY(100%)
  width: 100%
  z-index: 101

.bot-nav
  display: flex
  align-items: center
  justify-content: center
  transform: translateY(-60px)
  position: fixed
  border: 0
  cursor: pointer
  width: 100%
  outline: 0
  height: 60px
  background-color: #fff
  box-shadow: -20px -20px -30px #dddddd
  p
    font-size: 16px

hr
  width: 90%
  border-bottom: 1px solid rgb(214,214,214)

#bot-nav__poke-data
  text-transform: capitalize
  img
    max-width: 250px
    min-width: 150px
    width: 100%
    height: auto
  table
    padding-top: 25px

#bot-nav__weakness-advantage
  display: flex
  align-items: start
  justify-content: center
  .types


#bot-nav__recommended-lists
  text-transform: capitalize
  background-color: inherit

table
  font-family: arial, sans-serif
  border-collapse: collapse
  width: 100%
  color: black

td, th
  border: 1px solid #dddddd
  text-align: left
  padding: 8px

tr:nth-child(even)
  background-color: #dddddd
